<!DOCTYPE html>
<html>
    <head>
        <title>I am very sad</title>
        <link rel="shortcut icon" href="https://cdn.glitch.com/15e09974-ca0b-420c-84c2-26cee02a7637%2Ffavicon.ico?v=1575023044545" type="image/x-icon"/>
    </head>
    <body>
        Do you know
        <form method='POST' action='/login'>
            Username<input type='text' name='username'><br>
            Password<input type='password' name='password'><br>
            <input type='submit' value='Login'>
        </form>
        <form method='POST' action='/register'>
            Username<input type='text' name='username'><br>
            Password<input type='password' name='password'><br>
            Confirm Password<input type='password' name='passwordConf'><br>
            <input type='submit' value='Register'>
        </form>
    </body>
</html>