<!DOCTYPE html>
<html>
    <head>
        <title>I am very sad</title>
    </head>
    <body>
        Do you know
        <form method='POST' action='/login'>
            Username<input type='text' name='username'><br>
            Password<input type='password' name='password'><br>
            <input type='submit' value='Login'>
        </form>
        <form method='POST' action='/register'>
            Username<input type='text' name='username'><br>
            Password<input type='password' name='password'><br>
            <input type='submit' value='Register'>
        </form>
    </body>
</html>